//blog post styles continued 
#blog-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
article {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    width: 80%;
    border-radius: 5px;
}

.author {
    font-style: italic;
    color: #666;
}

#themetoggle, #back-button {
    margin-right: 10px;
}
article h2 {
    margin-top: 0;
}


